{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4 tavern-sign-straight"><i class="fas fa-shield-halved me-2"></i>Create Guild</h1>
    <form method="POST" action="" novalidate class="card p-4 mb-4">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.guild_name.label(class="form-label") }}
            {{ form.guild_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}
        </div>
         <div class="dropdown">
        <button type="button" class="btn btn-primary btn-medieval dropdown-toggle" data-bs-toggle="dropdown">
            Choose your Faction: 
        </button>
        <ul class="dropdown-menu dropdown-menu-end ">
            <li><a class="dropdown-item shivering-primeval" href="#">Shivering Primeval</a></li>
            <li><a class="dropdown-item honored-prestige" href="#">Honored Prestige</a></li>
            <li><a class="dropdown-item assassins-sharpshooters" href="#">Assassins Sharpshooters</a></li>
        </ul>
        </div>
        <div class="text-center">
            {{ form.submit(class="btn btn-medieval") }}
        </div>


       
    </form>
</div>


{% endblock %}