{% extends 'layout.html' %}

{%block content %}
<h1>Create Guild</h1>
    <form method="POST" action="" novalidate class="card p-4 mb-4">
        
        <div class="text-center mb-4">
                {{ form.guild_name(class="form-label") }}
        </div>

        <div class="text-center mb-4">

                {{ form.content() }}

        </div>
        <!-- submit button -->
        <div class="text-center mb-4"><br>
            {{ form.submit() }}
        </div>
    </fieldset>
    
</form>




{% endblock %}