{% extends 'layout.html' %}

{% block content %}
<div class="text-center mb-4">
    <h1 class="tavern-sign-straight d-inline-block shadow">
		<i class="fas fa-pen me-2"></i> Edit Thread
    </h1>
</div>
<form method="POST" class="card p-4">
    {{ form.hidden_tag() }}
    <!-- input for thread title -->
    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
    </div>
    <!-- input for thread content -->
    <div class="mb-3">
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control") }}
    </div>
    <!-- submit button -->
    <div class="text-center">
        {{ form.submit(class="btn btn-medieval") }}
    </div>
</form>
{% endblock %}
