{% extends 'layout.html' %}

{% block content %}
<h1>Users</h1>
<!-- Search form -->
<form method="POST" action="{{ url_for('list_users') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.search.label }}
        {{ form.search(size=40) }}
        {{ form.submit() }}
    </div>
</form>

<!-- User list -->
<ul>
    {% for user in users.items %}
        <li class="container p-5 border ">
            <img src="{{ url_for('static', filename='profile_pics/' + (user.image_file if user.image_file else 'default.png')) }}" 
                 alt="Profile Picture" 
                 class="profile-pic">
            <a href="{{ url_for('user_profile', username=user.username) }}">{{ user.username }}</a>
        </li>
    {% endfor %}
</ul>
{% if not users.items %}
    <p>No users found.</p>
{% endif %}

<!-- Pagination -->
<div class="pagination">
    {% if users.pages > 1 %}
        {% if users.has_prev %}
            <a href="{{ url_for('list_users', page=users.prev_num, search=search_query) }}">Previous</a>
        {% endif %}
        {% for page_num in range(1, users.pages + 1) %}
            <a href="{{ url_for('list_users', page=page_num, search=search_query) }}" 
               class="{{ 'active' if page_num == users.page else '' }}">
                {{ page_num }}
            </a>
        {% endfor %}
        {% if users.has_next %}
            <a href="{{ url_for('list_users', page=users.next_num, search=search_query) }}">Next</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
