{% extends 'layout.html' %}

{% block content %}
    <div class="row"> 
        <div class=" col-md-8 container-fluid border align-items-left">
            <input type="text" id = "post" class="form-control" placeholder="Normal input">
        {% for post in posts %}
        <div class=" col-md-4 container p-5 my-5 border align-items-left"  >
            <h2>{{post.title}}</h2>
            <p><i>from {{post.author}} at {{post.date_posted}}</i></p>
            <p>{{post.content}}</p>
        </div>
        {%endfor%}
    </div>
            
{% endblock %}