{% extends 'layout.html' %}

{% block content %}
<!-- display user's profile information -->
<h1>{{ current_user.username }}'s Profile</h1>
<div>
    <img src="{{ url_for('static', filename='profile_pics/' + (current_user.image_file if current_user.image_file else 'default.png')) }}" 
         alt="Profile Picture" 
         class="large-profile-pic">
</div>
<div>
    <p><b>Email:</b> {{ current_user.email }}</p>
</div>
<!-- link to update profile -->
<a href="{{ url_for('update_profile') }}">Edit Profile</a>
{% endblock %}