{% extends 'layout.html' %}

{% block content %}
    <!-- registration form -->
	<h1>Register</h1>
	
	<form method="POST" action="" novalidate>
		{{ form.hidden_tag() }} <!-- csrf protection -->
		<fieldset><legend>Register</legend>
            <!-- username input field -->
			<div>
				<!-- 
				may if statement dito, where ichecheck muna if hindi tumugma yung validators galing sa forms.py.
				pero since sa initial visit palang sa site siyempre wala ka pa iniinput so since walang invalid inputs, 
				iskiskip lang yung if statement, diretso tayo sa else which is ishoshow lang yung normal field form.
				pero if invalid na, lalabas na yung invalid messages depending sa kung ano yung problem.
				-->
				{{ form.username.label() }}
				{% if form.username.errors %} <!-- checks if may error -->
					{% for error in form.username.errors %} <!-- kinukuha kung ano yung error -->
						{{ form.username() }}
						<span>{{ error }}</span> <!-- pinapakita kung ano yung error -->
					{% endfor %}
				{% else %}
					{{ form.username() }}
				{% endif %}	
			</div>
			<!-- email input field -->
			<div>
				{{ form.email.label() }}
				{% if form.email.errors %}
					{% for error in form.email.errors %}
						{{ form.email() }}
						<span>{{ error }}</span>
					{% endfor %}
				{% else %}
					{{ form.email() }}
				{% endif %}	
			</div>
			<!-- password input field -->
			<div>
				{{ form.password.label() }}
				{% if form.password.errors %}
					{% for error in form.password.errors %}
						{{ form.password() }}
						<span>{{ error }}</span>
					{% endfor %}
				{% else %}
					{{ form.password() }}
				{% endif %}	
			</div>
			<!-- confirm password input field -->
			<div>
				{{ form.confirm_password.label() }}
				{% if form.confirm_password.errors %}
					{% for error in form.confirm_password.errors %}
						{{ form.confirm_password() }}
						<span>{{ error }}</span>
					{% endfor %}
				{% else %}
					{{ form.confirm_password() }}
				{% endif %}	
			</div>
            <!-- submit button -->
			<div><br>
				{{ form.submit() }}
			</div>
		</fieldset>
		
	</form>
    <!-- link to login page -->
	<div><br>
		<small><a href={{ url_for("login") }}>Already had an account?</a></small>
	</div>
{% endblock %}